# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data sets

In [2]:
path = r'C:\Users\Logan\OneDrive\Desktop\Instacart Basket Analysis'
path

'C:\\Users\\Logan\\OneDrive\\Desktop\\Instacart Basket Analysis'

In [9]:
# Import the orders_products_combined dataframe from the pickle file
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_combined.pkl'))

In [10]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [11]:
# Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).
df_ords_prods_comb.shape

(32434489, 10)

Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

# 03. Preparing both data frames

In [13]:
# Import '4.5_products_checked.csv' file
df_prod_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.5_products_checked.csv'), index_col = False)

In [14]:
df_prod_clean.shape

(49672, 6)

In [22]:
# Drop unnamed index column from df_prod_clean
df_prod_clean = df_prod_clean.drop(columns = ['Unnamed: 0'])

In [19]:
df_prod_clean.shape

(49672, 5)

In [23]:
df_prod_clean.head(1)

   product_id                product_name  aisle_id  department_id  prices
0           1  Chocolate Sandwich Cookies        61             19     5.8

In [24]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [26]:
# drop '_merge' column from df_ords_prods_comb
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [27]:
df_ords_prods_comb.shape

(32434489, 9)

# 04. Merging data frames

After reviewing both data frames, will join on 'product_id'

In [28]:
# Confirm the results of the merge using the merge flag
df_ords_prods_merged = df_ords_prods_comb.merge(df_prod_clean, on = 'product_id', indicator = True)

In [29]:
df_ords_prods_merged.shape

(32404859, 14)

In [30]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [31]:
# Review merge frequency
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# 05. Export newly create data frame

In [33]:
# Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).
# Export as .pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_merged.pkl'))

In [ ]:
# Export as .csv
df_ords_prods_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_merged.csv'))