# 01. Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import data set
path = r'C:\Users\Logan\OneDrive\Desktop\Instacart Basket Analysis'
path

'C:\\Users\\Logan\\OneDrive\\Desktop\\Instacart Basket Analysis'

In [74]:
# Import the data set into Jupyter as a new dataframe: df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled_1.csv'),index_col = False)

In [75]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [76]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [77]:
# Check the dimensions of the imported dataframe.
df_ords_prior.shape

(32434489, 4)

In [78]:
df_ords.shape

(3421083, 7)

# 02. Merge the dataframe

In [81]:
# Merge the dataframe with your df_ords dataframe
# Use the indicator argument to check whether there was a full match between the two dataframes
df_merged_large=df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [82]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [83]:
# use value_counts() function to sum all up all values in the '_merge' column and see whether you ahev a full match or not
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [84]:
# show real merge rate using outer join
df_merged_outer = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [85]:
df_merged_outer['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [86]:
df_merged_large.shape

(32434489, 11)

In [89]:
df_merged_large_1 = df_merged_large.drop(columns = ['Unnamed: 0'])

In [91]:
df_merged_large_1.shape

(32434489, 10)

In [94]:
# Export as CSV
df_merged_large_1.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_combined.csv'))

In [95]:
# Export as .pkl
df_merged_large_1.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_combined.pkl'))