# 01. User-Defined Functions

---

The basic structure of a user-defined function is as follows:

A definition of the name and arguments the function will take
What the function is meant to do

In [1]:
# Define function
def add_num(x,y):
    sum = x+y
    return sum

In [2]:
add_num(10,2)

12

# 02. Importing libraries and data frame 'ords_prods_merged'

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Logan\OneDrive\Desktop\Instacart Basket Analysis'
path

'C:\\Users\\Logan\\OneDrive\\Desktop\\Instacart Basket Analysis'

In [5]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_merged.pkl'))

In [6]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.6_orders_products_merged.pkl'))

In [7]:
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [8]:
# Create subset
df_1 = df[:1000000]

In [9]:
# QA Check subset
df_1.shape

(1000000, 14)

# 03. Creating User-Defined Function

In [10]:
# create a dataframe to categorize prices

def price_label1(row):
    if row['prices'] <= 5:
        return 'Low range prodct'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid range product'
    elif row['prices'] > 15:
        return 'High range product'
    else:
        return 'not enough data'

# 04. Apply User-Defined function to subset

In [11]:
# Apply the function
df_1['price_range'] = df_1.apply(price_label1, axis=1)

C:\Users\Logan\AppData\Local\Temp\ipykernel_50940\1212580439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['price_range'] = df_1.apply(price_label1, axis=1)

In [12]:
df_1.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product

In [13]:
#Check for price range counts
df_1['price_range'].value_counts(dropna = False)

Mid range product    756450
Low range prodct     243550
Name: price_range, dtype: int64

In [14]:
# What is the most expensive product in the subset?

df_1['prices'].max()

14.8

In [15]:
# What is the least expensive product in the subset?

df_1['prices'].min()

1.0

# 05. Use alternative loc() to user-defined function

In [16]:
ords_prods_merge['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
# If, then (If column prices, row is less than 5, then in new column price_range_loc denote as low range product)
ords_prods_merge.loc[ords_prods_merge['prices'] <=5, 'price_range_loc'] = 'Low-range product'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <=15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
ords_prods_merge.loc[ords_prods_merge['prices'] >15, 'price_range_loc'] = 'High-range product'

In [20]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# 06. Filter on criteria

In [21]:
df_3 = ords_prods_merge

In [22]:
# Create subset of 'high-range product'
df_4 = df_3[df_3['price_range_loc'] == 'High-range product']

In [23]:
df_4['price_range_loc'].value_counts()

High-range product    417678
Name: price_range_loc, dtype: int64

# 07. For Loops

For-loops, as their name implies, are loops for running the same block of code multiple times. They’re used to perform the same function on multiple elements, for instance, by running through an entire dataframe and performing a function on each row within that dataframe.

---

In [24]:
print("My age is 27")

My age is 27

In [25]:
print("My age is 28")

My age is 28

In [26]:
print("My age is 29")

My age is 29

In [27]:
print("My age is 30")

My age is 30

In [28]:
# for loop to create age statements
for age in range(27,31):
    print(f'My age is: {age}')

My age is: 27
My age is: 28
My age is: 29
My age is: 30

# 08. For Loop in Instacart Dataframe

In [29]:
ords_prods_merge.head(1)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,last_order_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product

In [30]:
# rename column
ords_prods_merge1 = ords_prods_merge.rename(columns = {'last_order_days' : 'days_since_prior_order'})

In [31]:
ords_prods_merge1.shape

(32404859, 15)

In [32]:
ords_prods_merge.shape

(32404859, 15)

In [33]:
ords_prods_merge1.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [34]:
# Find out which day most orders take place
ords_prods_merge1['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [35]:
# for loop

result = []

for value in ords_prods_merge1["order_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [36]:
# Assign list values of result to new column in data frame
ords_prods_merge1['busiest_day'] = result

In [37]:
# Check values for busiest day types
ords_prods_merge1['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# 4.7 Task

In [38]:
ords_prods_merge1.head(1)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy

1. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [39]:
ords_prods_merge1['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

1a. 2 busiest days of the week are now Saturday and Sunday
1b. 2 slowest days are Tuesday and Wednesday

In [41]:
# Check shape of data frame
ords_prods_merge1['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [44]:
# Change “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day.

result1 = []

for value in ords_prods_merge1["order_day_of_week"]:
    if value == 0 or value == 1:
        result1.append("Busiest Days")
    elif value == 4:
        result1.append("Least busy")
    else:
        result1.append("Regularly busy")

In [45]:
# Create new column using result1 list

ords_prods_merge1['Busiest_days'] = result1

In [46]:
ords_prods_merge1.head(1)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy

2. Check the values of this new column for accuracy. Note any observations in markdown format.

In [48]:
# Check the values of this new column for accuracy. Note any observations in markdown format.
ords_prods_merge1['Busiest_days'].value_counts(dropna=False)

Regularly busy    16756645
Busiest Days      11864412
Least busy         3783802
Name: Busiest_days, dtype: int64

In [49]:
ords_prods_merge1.shape

(32404859, 17)

3. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [53]:
# Identify the busiest hours of the day

ords_prods_merge1['order_hour_of_day'].value_counts(dropna=False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

3a. 10 - most orders, 3 - fewest orders, else - average orders

In [54]:
# For Loop to derive new variables
result2 = []

for order in ords_prods_merge1["order_hour_of_day"]:
    if order == 10:
        result2.append("Most orders")
    elif order == 3:
        result2.append("Fewest orders")
    else:
        result2.append("Average orders")

In [55]:
# assign result2 list to data frame
ords_prods_merge1['busiest_period_of_day'] = result2

In [56]:
ords_prods_merge1.head(1)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders

4. Print the frequency for this new column

In [57]:
ords_prods_merge1['busiest_period_of_day'].value_counts(dropna = False)

Average orders    29591818
Most orders        2761760
Fewest orders        51281
Name: busiest_period_of_day, dtype: int64

In [58]:
ords_prods_merge1.shape

(32404859, 18)

4. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [59]:
ords_prods_merge1.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.7_ords_prods_merge_new variables'))